/* styles.css */
:root {
  --orange: #fe904b;
  --red: #ff2828;
  --grey: #999999;
  --lightOrange: #e37735;
  --veryLightOrange: #f7a876;
  --otherRed: #991c1c;
  --blue: #336699;
  --darkBlue: #0D324A;
  --lightGrey: #ECECEC;
}
@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/Rubik-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/Rubik-BoldItalic.ttf') format('truetype');
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h, button {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #ecf0f1;
  font-weight: 300;
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Other styles remain unchanged */

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0;
  }
}

