/* styles/BlogPage.module.css */

.blogPage {
  padding: 10px;
}

.blogPage h2 {
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
  color: #0D324A;
  font-weight: 600;
}

.blogPost {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #999999;
}

.postTitle {
  font-size: 14px;
  text-align: center;
  color: #336699;
}

.postContent {
  font-size: 12px;
  color: #333;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.readMoreLink {
  padding: 4px 15px 4px 15px;
  background-color: #336699;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  text-align: center;
  font-size: 10px;
}

.readMoreLink:hover {
  background-color: #0D324A;
}

/* Responsive styles */
@media (max-width: 768px) {
  .postTitle {
    font-size: 12px; /* Decrease font size for smaller screens */
  }

  .postContent {
    font-size: 10px; /* Decrease font size for smaller screens */
  }

  .readMoreLink {
    font-size: 8px; /* Decrease font size for smaller screens */
  }
}
